@import "_var.scss"; //настраиваемые переменные
@import "_reset.scss"; // сброс параметров браузера

html {
    font-size: 18px;
}
body {
    max-width: 1440px;
    min-height: 100vh;
    font-family: "Glory";
    background: $bckSite;
}
.container {
    padding: 0 calc(50% - 470px);
}
@import "_mod.scss"; // классы модификаторы

//-------------------------------------------

.header {
    width: 100%;

    .header__navigation {
        width: 100%;
        margin-top: 31px;
        border-bottom: 1px solid #828282;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    .header__menu {
        margin-bottom: 31px;
        display: flex;
        justify-content: space-between;
    }
    .header__list {
        > a {
            color: rgba(130, 130, 130, 1);
        }
    }
}
.main {
    width: 100%;
    .aboutMe {
        .aboutMe__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .aboutMe__name {
            width: 124px;
            font-size: 2.6rem;
            color: #070707;
            margin-top: 40px;
        }
        .aboutMe__iFrom {
            font-size: 1rem;
            line-height: 1.2rem;
            color: #070707;
            align-self: flex-end;
        }
        .aboutMy__langth {
            font-size: 0.9rem;
            line-height: 1.1rem;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
        .aboutMe__pic {
            margin-top: 49px;
        }
        .aboutMe__photo {
        }
        .aboutMe__text {
            width: 100%;
            margin-top: 104px;
            padding: 120px 0 107px 0;
            background: #f6f6f6;
            h2,
            p {
                width: 485px;
                margin: 0 auto;
                
                text-align: center;
            }
            h2{
                font-size: 1.9rem;
                line-height: 2.3rem;
            }
            p{
                margin-top: 17px;
            }
        }
    }
}
.footer {
}
