@import "_var.scss"; //настраиваемые переменные
@import "_reset.scss"; // сброс параметров браузера

html {
    font-size: 18px;
}
body {
    max-width: 100%;
    min-height: 100vh;
    background: $bckSite;
}
.container {
    padding: 0 calc(50% - 685px);
}
@import "_mod.scss"; // классы модификаторы
.btn {
    display: block;
    font-size: $fz-BTN;
    font-weight: $fw-BTN;
    line-height: $lh-BTN;
    padding: $padTB-BTN $padLR-BTN;
    border: 1px solid #000;
    background: $bcg-BTN;
    color: $colorText-BTN;
}
//-------------------------------------------

.header {
    width: 100%;
    height: 90px;
    background: #030303;
    .menu {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &__list {
            display: flex;
            margin-top: 20px;
            gap: 20px;
        }
        &__items {
        }
        &__links {
            background-color: antiquewhite;
        }
    }
}
.main {
    width: 100%;
    min-height: 100vh;
    background: #fafafa;
    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 55px;
        line-height: 2.2;
        color: rgb(253, 253, 253);
        text-shadow: 0 0 5px #000;
        span {
            color: rgb(219, 243, 0);
        }
    }
    .less1 {
        &__container {
        }
        &__title {
        }
        &__content {
            width: 550px;
            margin-top: 20px;
            &:first-child {
                margin-top: 60px;
            }
        }
        &__modal {
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 3px 1px #030303;
                color: #d1d408;
                transition: 2s;
            }
        }
    }
}
.footer {
}

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #030303de;
    overflow: hidden;
    z-index: 10;
    #modal {
        min-width: 300px;
        max-width: 600px;
        height: 400px;
        padding: 60px 30px;
        background: #fafafa;
        overflow: hidden;
        z-index: 110;
    }
    .modal__close {
        width: 3%;
        display: flex;
        justify-content: center;
        height: fit-content;
        border: 1px solid #000;
        color:rgb(190, 5, 5);
        font-weight: 800;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 3px 0 #030303;
            background: #00ff153a;
        }
        
    }
    &__content {
    }
    .title {
    }
    .text {
    }
    .molal__btn{
        margin: 50px auto;
        border-radius: 10px;
    }
    .btn {
    }

}

.red {
    background: rgb(161, 11, 11);
    font-weight: 700;
    color: aliceblue;
}

.yellow {
    background: rgb(218, 241, 7);
    font-weight: 700;
    color: black;
}

.white {
    background: rgb(255, 255, 255);
    font-weight: 700;
    color: black;
}
